.nadpis1 {
    font-size: 40px;
    background-color: darkred;
    color: white;
}

.nadpis2 {
    font-size: 25px;
    background-color: rgb(31, 27, 27);
    color: white;
}

.nav-link {
    color: white !important;
}

nav.navbar-dark {
    background-color:  rgba(0,0,0,0.5) !important;
}

.obrazek {
    text-align: center;
    justify-content: center;
}

.nadpis3 {
    font-size: 25px;
    background-color: rgb(31, 27, 27);
    color: white;
    text-align: center;
}
 
.nadpis4 {
    font-size: 30px;
    background-color: darkred;
    color: white;
}

h4 {
    text-align: center;
    font-size: 20px;
    background-color: rgb(31, 27, 27);
    color: white;
}

.jumbotron {
    background-color: white;
    
}

.btn {
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin: auto;
    padding: 12px 18px
}

h2 {
    padding: 10px;
}

h3 {
    padding: 5px;
}

.nadpis1-1 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
    background-color: darkred;
    color: white;
}

#LetopocetUdalosti .event-year {
    font-weight: bold;
    font-size: 15px;
}

#LetopocetUdalosti a{
    font-weight: bold;
    color: black;
    font-size: 25px;
}

#LetopocetUdalosti p{
    font-size: 20px; 
}

.mid {
    text-align: center;
}

.list-group {
    cursor: pointer;
}

.alert{
    text-align: center;
    font-size: 20px;
}

.CHECK{
    font-size: 10px;
}


  
  input[type='checkbox'] {
    display:block;
    margin: 0 auto;
    margin-bottom: 10px;
    -webkit-appearance: button;
    border:none;
    background-color: #ccc;
    width: 90px;
    height: 40px;
    border-radius: 3px;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
    cursor: pointer;
    position: relative;
    transition: background-color 1s;
  }
  input[type='checkbox'].red{
     background-color: #c63d3d;
  }
  input[type='checkbox']:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 80%;
    background-color: #fdfdfd;
    margin: 4%;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    
    background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
  
   transition: .5s all;
  }
  
  input[type='checkbox']:checked{
    background-color: #79d122;
  } 
  
  input[type='checkbox']:checked:after {
    left: 45%;
  }


  